.topHeader {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .topHeader .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .topHeader .left {
    display: flex;
    align-items: center;
  }
  
  .topHeader .left span {
    margin-right: 15px;
    display: flex;
    align-items: center;
  }
  
  .topHeader .left i {
    margin-right: 5px; /* Space between icon and text */
  }
  
  .topHeader .right {
    display: flex;
    align-items: center;
  }
  
  .topHeader .right-content {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Space between right content and social icons */
  }
  
  .topHeader .right-content span {
    margin-right: 15px;
  }
  
  .topHeader .socialIcons {
    display: flex;
    align-items: center;
  }
  
  .topHeader .socialIcons i {
    font-size: 18px; /* Adjust size as needed */
    color: #fff; /* Ensure icons are visible with the correct color */
    margin-right: 10px;
    transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  .topHeader .socialIcons i:hover {
    color: #ddd; /* Optional: change color on hover for better UX */
  }
  